html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:root{
    --dark-primary-color:#512DA8;
    --light-primary-color:#D1C4E9;
    --primary-color:#673AB7;
    --text-icons:#FFFFFF;
    --accent-color:#E040FB;
    --primary-text:#D1C4E9;
    --secondary-text:#757575;
    --divider-color:#BDBDBD;
    --heading-font:'ubuntu', sans-serif;
    --text-font:'arial', sans-serif;
}
*{
    box-sizing: border-box;
    overflow:auto;
}
body{
    background: var(--dark-primary-color);
    color:black;
    font-family: var(--text-font);
    padding:10px;

}
.container{
    max-width:1080px;
    width:90%;
    margin:10px auto;
    border:5px double black;
    border-radius:15px 50px;
    overflow:auto;
    padding:15px;
    box-sizing:border-box;
    background: white;
    opacity:50%;
}

h1, h2, h3, nav{
    text-align:center;
    margin:10px auto;
}
h1{
    font-family: var(--heading-font);
    font-weight:bold;
    font-size:xx-large;
    color:var(--primary-color);
    text-align:center;
}
h2{
    font-family: var(--heading-font);
    font-weight:bolder;
    font-size:large;
    color:var(--dark-primary-color);
    text-align:center;
}
h3{
    font-family: var(--heading-font);
    font-weight:bold;
    font-size:xx-large;
    color:var(--dark-primary-color);
    text-align:center;
}
p{
    font-family:var(--text-font);
    font-weight:bolder;
    font-size:x-large;
    padding:10px;
    margin:20px;
    text-align:center;
}

form{
    background: var(--secondary-text);
    padding: 35px;
    color: var(--text-icons);
    width: 80%;
    margin: 20px auto;
}
form h2{
    color: var(--accent-color);
    margin: 20px 10px 10px -15px;
}
input[type=text]{
    width: 50%;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid var(--accent-color);
    margin: 10px;
}
text area{
    border-radius: 15px;
    padding: 5px;
    border: 2px solid var(--accent-color);

}
form select{
    font-size: 1.2em;
    padding:5px;
    width:100%;
    background-color: var(--primary-color);

}

form input:focus{
    background-color: var(--accent-color);
}
form input{
    font-size:1.2em;
}

  img {
    width: 60%;
    margin:auto;
    display:block;
    overflow:auto;
    border:2px solid black;
    padding:1px;
}

/*nav a{
        font-size:larger;
        font-weight:bold;
        margin:20px;
        color:rgb(6, 6, 6);
        padding: 5px 10px;
        background-color: rgba(244,40,129,1);
        text-decoration:none;
        border-radius:10px;
        border: 2px solid rgba(244,40,129,1); 
        text-align:center;
}

nav a:hover, #current{
    background: white;
    color: rgb(79, 0, 149);
}*/
footer{
    overflow:auto;
    border:none;
    margin:10px;
    padding:10px;
    text-align:center;
}