body{
    background-color: black;
    color: rgb(235, 51, 235);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
iframe{
    width:90%;
    height:500px;
    border:10px;
    overflow:hidden;
    margin:auto;
    display:block;
}
h1{
    text-align:center;
    font-size:50px;
    color:rgb(235, 51, 235);
    margin-top:50px;
    margin:auto;
    display:block;
}
h2{
    text-align:center;
    font-size:50px;
    color:rgb(235, 51, 235);
    margin-top:50px;
    margin:auto;
    display:block;
}
